build/
*.o
*.gen.cpp
test_suite/graphics/demo_3d_cube
test_suite/graphics/demo_image
test_suite/graphics/desktop_mockup_test
test_suite/graphics/drawing_2d_test
test_suite/graphics/frog_shooter
test_suite/graphics/test
test_suite/graphics/test_3d_cube
test_suite/graphics/test_image
test_suite/graphics/window_test
test_suite/math/math
test_suite/stdlib/*_aot
test_suite/stress/test
test_suite/transpiler/aot_stdlib_crypto
test_suite/transpiler/aot_stdlib_json
test_suite/video/test
test_suite/video/test_check
test_suite/video/test_rebuild
test_suite/video/video_3d_playback
